python-docx>=1.2.0
faker>=40.0.0
spacy>=3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
presidio-analyzer>=2.2.0
flask>=3.0.0
gunicorn>=21.0.0
